<% divClass = 'table-view-cell' %>
<% unless notification.seen %>
	<% divClass = divClass + ' notification-active' %>
<% end %>
<div class="<%= divClass %>">
	<strong>
		<% if notification.licker %>
			<%= link_to notification.licker.username, notification.licker %> licked you!
		<% else %>
			<%= notification.text %>
		<% end %>
	</strong>
	<small><%= time_ago_in_words(notification.created_at) %> ago</small>
</div>