<li class="table-view-cell">
	<%= link_to user.username, user %>
	<% if session[:user] %>
		<button class="btn btn-primary create-lick" data-user="<%= user.id %>">
			Lick!
		</button>
	<% end %>
	<span class="badge"><%= user.received_licks_count %></span>
</li>