<div class="content-padded">
	<h2>Users who Lick the Most</h2>
</div>
<ul class="table-view">
	<% @users.each do |user| %>
		<%= render(partial: "user_with_sent_licks_count", locals: {user: user}) %>
	<% end %>
</ul>