<div class="content-padded">
	<h2>Most Licked Users</h2>
</div>
<ul class="table-view">
	<% @users.each do |user| %>
		<%= render(partial: "user_with_received_licks_count", locals: {user: user}) %>
	<% end %>
</ul>