
<div class="content-padded">

	<h2>Sign up</h2>

	<%= form_for @user do |f| %>
		<%= f.text_field :username, :placeholder=>'Username' %>
		<%= f.password_field :password, :placeholder=>'Password' %>
		<%= f.password_field :password_confirmation, :placeholder=>'Confirm password' %>
		<%= f.submit 'Sign up', :class => 'btn btn-positive btn-block' %>
	<% end %>

</div>