<input id="user-id" value="<%= session[:user_id] && @user.id == session[:user_id] %>" hidden />

<div class="content-padded">
	<h1><%= @user.username %></h1>
	<small>Member since <%= time_ago_in_words(@user.created_at) %> ago</small>

	<h3>Sent <%= @sent_count %></h3>
	<h3>Received <%= @received_count %></h3>
	<h3>Received-to-Sent Ratio: <%= "%.2f" % @ratio %></h3>

	<button class="btn btn-block btn-large btn-primary create-lick" data-user="<%= @user.id %>">
			Lick!
	</button>
</div>

<ul class="table-view">
	<li class="table-view-cell">
		Achievements:<br>
		<table class="achievements-table">
		<tr>
		<% @user.achievements.each do |achievement| %>
			<td><span class="icon icon-star-filled"></span><br><%= achievement.name %><br></td>
		<% end %>
		</tr>
		</table>
	</li>
<ul class="table-view" id="licks">
	<% if @licks.empty? %>
		<li class="table-view-cell">No licks!</li>
	<% else %>
		<% @licks.each do |lick| %>
			<%= render lick %>
		<% end %>
	<% end %>
</ul>