<!DOCTYPE html>
<html>
	<head>
		<title>Wasabi</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
	</head>
	
	<body data-view="<%= params[:controller] %>#<%=params[:action]%>">

		<nav class="bar bar-tab">
			<%= link_to feeds_path, :class=>'tab-item', :id=>'feeds-tab' do %>
				<span class="icon icon-home"></span>
				<span class="tab-label">Home</span>
			<% end %>
			<% if session[:user_id] %>
				<%= link_to user_path(session[:user_id]), :class=>'tab-item', :id=>'profile-tab' do %>
					<span class="icon icon-person"></span>
					<span class="tab-label">Profile</span>
				<% end %>
			<% end %>

			<%= link_to notifications_path, :class=>'tab-item', :id=>'notifications-tab' do %>
				<span class="icon icon-star-filled"></span>
				<span class="tab-label">Notifications</span>
			<% end %>

			<%= link_to most_licked_users_path, :class=>'tab-item', :id=>'users-tab' do %>
				<span class="icon icon-search"></span>
				<span class="tab-label">Most Licked</span>
			<% end %>

			<%= link_to lick_the_most_users_path, :class=>'tab-item', :id=>'users-tab' do %>
				<span class="icon icon-search"></span>
				<span class="tab-label">Most Licker</span>
			<% end %>
			
			<%= link_to preferences_path, :class=>'tab-item', :id=>'preferences-tab' do %>
				<span class="icon icon-gear"></span>
				<span class="tab-label">Settings</span>
			<% end %>
			

		</nav>

		<header class="bar bar-nav">
			<% if session[:user_id] %>
				<button class="btn btn-link pull-left">
					<%= link_to User.find(session[:user_id]).username, user_path(session[:user_id]) %>
				</button>
			<% end %>
			<h1 class="title">wasabi</h1>
			<button class="btn btn-link pull-right">
				<% if session[:user_id] %>
					<%= link_to 'Log out', logout_path %>
				<% else %>
					<%= link_to 'Log in', login_path %>
				<% end %>
			</button>
		</header>
	
		<div class="content">
			<% if flash[:notice] %>
				<ul class="table-view">
					<% flash.each do |name, msg| %>
						<li class="table-view-cell"><%= msg %></li>
					<% end -%>
				</ul>
			<% end %>
			<%= yield %>
		</div>

	</body>
</html>
