<div class="content-padded"><h2>User Preferences</h2></div>
<ul class="table-view">
  <li class="table-view-cell">
    Allow wasabi to Gather Information on You
    <div class="toggle active">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Allow wasabi to Not Gather Information on You
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Prevent Not-wasabi from not gathering not-information on you
    <div class="toggle active">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Receive Hourly "The Lick Digest" Emails
    <div class="toggle active">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Prevent Your Parents from Viewing Your Activity
    <div class="toggle active">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    This Statement is False
    <div class="toggle active">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Parental Lick
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Allow Usage in China (experimental)
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Prevent Users From Judging You
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Enable Others to View Your Password
    <div class="toggle active">
      <div class="toggle-handle"></div>
    </div>
  </li>
</ul>