<li class="table-view-cell lick">
	<strong><%= link_to lick.sender.username, lick.sender %> licked <%= link_to lick.receiver.username, lick.receiver %></strong>

	<%# Show if user is logged in %>
	<% if session[:user_id] && lick.lick_licks.select{|l| l.licker_id == session[:user_id]}.size() == 0 %>
		<span class="btn btn-primary create-lick-lick" data-lick-id="<%= lick.id %>">
			Licklick
		</span>
	<% end %>
	<%#<span class="badge"><%= lick.lick_lick_count %>

	<% lick_licks = lick.lick_licks %>
	<% unless lick_licks.empty? %>
		<br>
		<%= lick.lick_licks.map{|lick_lick| lick_lick.licker.username}.to_sentence %> licked this.
	<% end %>

	<small><br><%= time_ago_in_words(lick.created_at) %></small>
</li>