/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*---------------------
  Fonts
  -------------------*/

@font-face {
  font-family: Ratchicons;
  font-style: normal;
  font-weight: normal;

  src: url("//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/fonts/ratchicons.eot");
  src: url("//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/fonts/ratchicons.eot?#iefix") format("embedded-opentype"), url("//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/fonts/ratchicons.woff") format("woff"), url("//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/fonts/ratchicons.ttf") format("truetype"), url("//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/fonts/ratchicons.svg#svgFontName") format("svg");
}	

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/*------------------------
  Pre-existing classes
  ------------------------*/

* {
	font-family: 'Ubuntu';
}

a {
	color: #63dc8c;
}

.btn {
  font-weight: bold;
}

.btn-large {
  font-size: 150%;
}

.btn-primary {
	background-color: #f3a1e1;
	border: 1px solid #f3a1e1;
}

.btn-positive {
  background-color: #63dc8c;
  border: 1px solid #63dc8c;
}

.btn-primary:active {
	background-color: #d3a1e1;
	border: 1px solid #ff7dec;
}


/*-------------------
   Custom classes
   ------------------*/
table.achievements-table {
  border-spacing: 10px 50px;
}

table.achievements-table td {
  padding: 10px;
  text-align: center;
}

.btn-disabled {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
}

.notification-active {
  background-color: #ffbcff;
}