<div class="content-padded">

	<h2>Login</h2>

	<%= form_for @user, url: {action: 'auth'} do |f| %>
		<%= f.text_field :username, :placeholder=>'Username' %>
		<%= f.password_field :password, :placeholder=>'Password' %>
		<%= f.submit 'Login', :class => 'btn btn-positive btn-block' %>
	<% end %>

	<%= link_to 'Sign up', new_user_path %>

</div>